<button class="button" (click)="onShowForm()">Contact Me</button>
<app-modal *ngIf="showForm" (close)="showForm = false">
  <h1>Send me a message!</h1>
  <form class="form" [formGroup]="contactForm">
    <div class="name-email">
      <div class="input">
        <label for="name">Name</label>
        <input id="name" formControlName="name" />
      </div>
      <div class="input">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
      </div>
    </div>
    <div class="input">
      <label for="subject">Subject</label>
      <input id="subject" type="text" formControlName="subject" />
    </div>
    <div class="input">
      <label for="message">Message</label>
      <textarea
        name=""
        id="message"
        cols="30"
        rows="10"
        formControlName="message"
      ></textarea>
    </div>
    <button class="send-button">Send</button>
  </form>
</app-modal>
