.left {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 3rem;
  animation: left 1s ease-out 0.5s;
  animation-fill-mode: both;
}

@keyframes left {
  from {
    transform: translateX(-60%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.right {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 3rem;
  animation: right 1s ease-out 0.5s;
  animation-fill-mode: both;
}

@keyframes right {
  from {
    transform: translateX(60%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
