<main>
  <div class="background"></div>
  <h1 class="title">Web Dev, Robotics, and Other Cool Stuff!</h1>
  <div class="left">
    <app-about-card>
      <div title>Web Development</div>
      <div content>
        I am a self-taught and very motivated web developer. I am proficient
        with basic HTML, CSS, and Javascript/Typescript. My favorite frontend
        framework is Angular but I can also work with React. I am also
        proficient in python and can work on the backend too! I love learning
        new technology and exploring new possibilities!
      </div>
    </app-about-card>
  </div>
  <div class="right">
    <app-about-card>
      <div title>Robotics</div>
      <div content>
        My background is in robotics. I have a masters degree in robotics and
        specialize in control, kinematics, and dynamics of serial and parallel
        manipulators. I have experience as an application engineer with both
        industrial and collaborative robots. I also dabbled a bit in mobile
        robots while I was in university.
      </div>
    </app-about-card>
  </div>
  <div class="left">
    <app-about-card>
      <div title>Research and AI</div>
      <div content>Research and AI stuff</div>
    </app-about-card>
  </div>
</main>
