<main class="main-content">
  <h1 class="sectiontitle">Web Dev, Robotics, and Other Cool Stuff!</h1>
  <div class="about-card left slide-from-left">
    <app-about-card [links]="webLink">
      <div title>Web Development</div>
      <div content>
        I am a self-taught and very motivated web developer. I am proficient
        with basic HTML, CSS, and Javascript/Typescript. My favorite frontend
        framework is Angular but I can also work with React. I am also
        proficient in python and can work on the backend too! I love learning
        new technology and exploring new possibilities!
      </div>
    </app-about-card>
  </div>
  <div class="about-card right slide-from-right">
    <app-about-card [links]="roboticsLink">
      <div title>Robotics</div>
      <div content>
        My background is in robotics. I have a masters degree in robotics and
        specialize in control, kinematics, and dynamics of serial and parallel
        manipulators. I have experience as an application engineer with both
        industrial and collaborative robots. I also dabbled a bit in mobile
        robots while I was in university.
      </div>
    </app-about-card>
  </div>
  <div class="about-card left slide-from-left">
    <app-about-card [links]="researchLink">
      <div title>Research, School Projects, and More</div>
      <div content>
        During my part of my undergraduate studies and my masters, I had the
        chance to work at my university’s robotics lab. My specialty is control,
        kinematics, and dynamics of serial and parallel manipulators. I was also
        part of our Formula SAE team and worked on both the combustion and
        electric vehicle, building parts that are still in use to this day!
        Visit my research section to access my articles, dissertation and an
        overview of various school projects.
      </div>
    </app-about-card>
  </div>
  <div class="about-card right slide-from-right">
    <app-about-card [links]="workLink">
      <div title>Work Experience</div>
      <div content>
        During my career I have worked with both collaborative and industrial
        robots. I touched to many of the different parts of a product's life
        cycle, from the initial ideation to the launch to market. I’ve also
        worked closely with customers as an application engineer, working hard
        to help them achieve their goal. For more details on my work experience,
        visit my work section!
      </div>
    </app-about-card>
  </div>
  <app-skill-panel></app-skill-panel>
</main>
