.project-description {
  color: var(--bg-light);
}

.tech-stack {
  margin-top: 1em;
}

.tech-used {
  font-size: 1.4em;
  color: var(--bg-light);
  margin-top: 0.6em;
  margin-bottom: 1em;
  border-bottom: 2px solid var(--primary-blue);
}

.tech-cards {
  display: flex;
  flex-direction: row;
}
