<main class="main-content">
  <h1 class="sectiontitle">Portfolio Website</h1>
  <h2 class="sectionsubtitle">Description</h2>
  <p>
    This project is the Website you are currently viewing. It was created to
    showcase my experience and skills in web development. While I am not a
    designer and merely an engineer, I tried to make it look as good as I can.
  </p>
  <div class="tech-stack">
    <h3>Tech used</h3>
    <ul>
      <li>Angular</li>
      <li>Firebase</li>
      <li>Github</li>
    </ul>
  </div>
</main>
