<main class="main-content">
  <h1 class="sectiontitle">Portfolio Website</h1>
  <h2 class="sectionsubtitle">Description</h2>
  <p class="project-description">
    This project is the Website you are currently viewing. It was created to
    showcase my experience and skills in web development. While I am not a
    designer and merely an engineer, I tried to make it look as good as I can.
  </p>
  <div class="tech-stack">
    <h3 class="tech-used">Tech Used</h3>
    <div class="tech-cards">
      <app-tech-card
        name="Angular"
        class="slide-from-right"
        [ngStyle]="{ 'animation-delay': calcDelay(1) }"
        >This app uses Angular to build the front end. The styling is done with
        Sass without the use of a framework.
      </app-tech-card>
      <app-tech-card
        name="Github"
        class="slide-from-right"
        [ngStyle]="{ 'animation-delay': calcDelay(2) }"
        >This project's source code is hosted on Github. I also use Github
        Actions to automate the deployment when I merge to the master branch.
      </app-tech-card>
      <app-tech-card
        name="Firebase"
        class="slide-from-right"
        [ngStyle]="{ 'animation-delay': calcDelay(3) }"
        >This project is hosted on the Firebase platform. The deployment is
        automated via Github.
      </app-tech-card>
    </div>
  </div>
</main>
