// Desktop styles

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  background-color: var(--bg-light);
  box-shadow: 0px 0px 20px 5px var(--primary-purple);
  transition: all 0.2s ease-out;
}

.nav-container:hover {
  box-shadow: 0px 0px 20px 5px var(--primary-blue);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  padding-left: 1em;
}

.myphoto {
  height: 4em;
  width: 4em;
  border-radius: 2em;
  object-fit: cover;
  border: 2px solid var(--primary-purple);
  box-shadow: 0 0 0.3em 0.3em var(--primary-blue);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: var(--bg-dark);
  text-decoration: none;
  font-size: 1.3em;
  margin: 0px 1em;
  transition: font-weight 0.3s linear;
  transition: all 0.3s ease-out;
}

.nav-link:focus {
  text-decoration: none;
}

.nav-link:hover {
  color: var(--primary-blue);
  transform: translateY(-0.15em);
}

.active {
  font-weight: bold;
  border-bottom: 3px solid var(--primary-purple);
}

.social-and-lang {
  display: flex;
  flex-direction: row;
}

.language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1em;

  a {
    text-decoration: none;
    color: var(--bg-dark);
  }
}
.socials {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.4em;
}

.social-link {
  height: 3.5em;
  width: 3.5em;
  margin: 0px 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  transition: all 0.5s ease-out;
}

.social-link:hover {
  background-color: var(--primary-blue);
  transform: translateY(-0.2em);
  box-shadow: 0em 0em 0.5em 0.2em var(--bg-dark);
}

.social-logo {
  height: 2em;
  filter: invert(100%) opacity(70%);
}

// Mobile Styles

@media screen and (max-width: 900px) {
  .navigation {
    display: none;
  }
}
