<div class="nav-container">
  <div class="logo">
    <img class="myphoto" src="assets/photo/Me.jpg" alt="Photo of me" />
  </div>
  <div class="navigation">Stuff</div>
  <div class="socials">
    <a class="social-link" href=""
      ><img
        src="assets/logos/GitHub-Mark-Light-64px.png"
        class="social-logo"
        alt="Github"
    /></a>
    <a class="social-link" href="">
      <img
        src="assets\logos\LI-In-Bug.png"
        class="social-logo"
        alt="LinkedIn"
      />
    </a>
    <a class="social-link" href="">
      <img
        src="assets\logos\Twitter social icons - circle - white.png"
        class="social-logo"
        alt="Twitter"
      />
    </a>
  </div>
</div>
