<div class="nav-container">
  <div class="menus">
    <a routerLink="/">
      <div class="logo">
        <img class="myphoto" src="assets/photo/Me.jpg" alt="Photo of me" />
      </div>
    </a>
    <app-mobile-nav></app-mobile-nav>
  </div>
  <div class="navigation">
    <a
      class="nav-link"
      routerLink="../EN"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ about }}</a
    >
    <a class="nav-link" routerLink="research" routerLinkActive="active">{{
      research
    }}</a>
    <a class="nav-link" routerLink="projects" routerLinkActive="active">{{
      projects
    }}</a>
    <a class="nav-link" routerLink="work" routerLinkActive="active">{{
      work
    }}</a>
  </div>
  <div class="social-and-lang">
    <!-- <div class="language">
      <a routerLink="../EN" routerLinkActive="active">EN</a>|
      <a routerLink="FR" routerLinkActive="">FR</a>
    </div> -->
    <div class="socials">
      <a
        class="social-link"
        href="https://github.com/GabrielBoucher91/"
        target="_blank"
        ><img
          src="assets/logos/GitHub-Mark-Light-64px.png"
          class="social-logo"
          alt="Github"
      /></a>
      <a
        class="social-link"
        href="https://www.linkedin.com/in/gabriel-boucher-msc-95443532/"
        target="_blank"
      >
        <img
          src="assets\logos\LI-In-Bug.png"
          class="social-logo"
          alt="LinkedIn"
        />
      </a>
      <a class="social-link" href="">
        <img
          src="assets\logos\Twitter social icons - circle - white.png"
          class="social-logo"
          alt="Twitter"
        />
      </a>
    </div>
  </div>
</div>
