<h1 class="skills-title">Programming Skills</h1>
<div class="logos">
  <img
    src="\assets\logos\skills\HTML5_Badge_512.png"
    alt="HTML Logo"
    class="skill-logo"
  />
  <img
    src="\assets\logos\skills\CSS3_logo.svg.png"
    alt="HTML Logo"
    class="skill-logo"
  />
  <img
    src="\assets\logos\skills\Sass_logo.png"
    alt="HTML Logo"
    class="skill-logo"
  />
  <img
    src="\assets\logos\skills\javascript-logo.png"
    alt="HTML Logo"
    class="skill-logo"
  />
  <img
    src="\assets\logos\skills\Typescript_logo_2020.png"
    alt="HTML Logo"
    class="skill-logo"
  />
  <img
    src="\assets\logos\skills\python-logo-only.png"
    alt="HTML Logo"
    class="skill-logo"
  />
  <img
    src="\assets\logos\skills\TF_FullColor_Icon.png"
    alt="HTML Logo"
    class="skill-logo"
  />
</div>
