<main class="main-content">
  <!-- <div class="background"></div> -->
  <h1 class="sectiontitle">Research and School Projects</h1>
  <section class="section">
    <h2 class="sectionsubtitle">Low-Impedance Human-Robot Interface</h2>
    <div class="images">
      <img
        src="\assets\photo\mechanism.png"
        alt="Image of the mechanism"
        class="project-image image-slide-anim"
        [ngStyle]="{ 'animation-delay': calcDelay(1) }"
      />
      <img
        src="\assets\photo\robot.png"
        alt="Image of the robot"
        class="project-image image-slide-anim"
        [ngStyle]="{ 'animation-delay': calcDelay(2) }"
      />
    </div>
    <p class="project-description">
      This was my Masters Degree project. I designed and built a robotic arm on
      which I installed a custom-built 6 degrees-of-freedom displacement sensor.
      The user interacts directly with the robot by pushing the sensor around
      which in turns makes the robot move. This approach is similar to what we
      can find in most cobots but adds a layer of safety and makes the whole
      system more responsive.
    </p>
    <div class="useful-links">
      <app-useful-links
        type="Article"
        link="https://ieeexplore.ieee.org/abstract/document/8793849"
        class="image-slide-anim"
        [ngStyle]="{ 'animation-delay': calcDelay(3) }"
      >
        This is the first article published for this project. It was published
        at ICRA 2019. It describes the control scheme and the mechanism used to
        move the robot.
      </app-useful-links>
      <app-useful-links
        type="Article"
        link="https://asmedigitalcollection.asme.org/mechanismsrobotics/article-abstract/13/2/021002/1091707/Mechanical-Design-of-a-Low-Impedance-6-Degree-of"
        class="image-slide-anim"
        [ngStyle]="{ 'animation-delay': calcDelay(4) }"
      >
        This article was published in the ASME Journal of Mechanism and
        Robotics. It focuses on the mechanical design of the sensor and briefly
        touches on the control.
      </app-useful-links>
      <app-useful-links
        type="Article"
        link="https://robot.gmc.ulaval.ca/fileadmin/documents/Memoires/gabriel_boucher.pdf"
        class="image-slide-anim"
        [ngStyle]="{ 'animation-delay': calcDelay(5) }"
      >
        This is my masters thesis which comprises both articles with some more
        material in between. The parts between the articles are in French while
        the articles are in their original English.</app-useful-links
      >
      <app-useful-links
        type="Video"
        link="https://www.youtube.com/watch?v=VLOMPbtqrxE"
        class="image-slide-anim"
        [ngStyle]="{ 'animation-delay': calcDelay(6) }"
      >
        This is a video of the final prototype of the robot and sensor. It shows
        the system working and how easy it is to move the robot with
        it.</app-useful-links
      >
    </div>
  </section>
  <hr class="hr" />
  <section class="section">
    <h2 class="sectionsubtitle">Formula SAE</h2>
    <div class="images">
      <img
        src="https://scontent.fyhu2-1.fna.fbcdn.net/v/t1.6435-9/47014401_2138290639549447_6683087559184089088_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=tI0qGhMyfSQAX85U8nH&_nc_ht=scontent.fyhu2-1.fna&oh=00_AT8WQyKoIwe2MCuAwH2aU30ENQsxAcsok0x_QSI3YIAzVQ&oe=63675910"
        alt="Image of the Formula SAE car in Germany"
        class="project-image image-slide-anim"
        [ngStyle]="{ 'animation-delay': calcDelay(7) }"
      />
      <img
        src="https://scontent.fyhu2-1.fna.fbcdn.net/v/t1.18169-9/11870749_976549142390275_3786325959231878225_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=19026a&_nc_ohc=9CFZSP1HE6kAX-rLoxK&_nc_ht=scontent.fyhu2-1.fna&oh=00_AT-e5Qkna9iWLw4RbBI35ElJXlNhcWbv5q4Mk0kBIVjW3A&oe=63674EE9"
        alt="Image of the Formula SAE car in Germany"
        class="project-image image-slide-anim"
        [ngStyle]="{ 'animation-delay': calcDelay(8) }"
      />
    </div>
    <p class="project-description">
      During my bachelor’s degree, I was part of my university’s Formula SAE
      team. For most of it I was managing the aerodynamics team. I designed and
      built many composite parts such as the body panels and wings and I
      designed some cooling systems and packaging for the power electronics.
    </p>
    <div class="useful-links">
      <app-useful-links
        type="Video"
        link="https://www.youtube.com/user/FormuleSAE/videos"
        class="image-slide-anim"
        [ngStyle]="{ 'animation-delay': calcDelay(9) }"
      >
        This is the Youtube channel of my university Formula SAE team. You can
        find many videos showing the projects.
      </app-useful-links>
      <app-useful-links
        type="Page"
        link="https://www.facebook.com/formulesae"
        class="image-slide-anim"
        [ngStyle]="{ 'animation-delay': calcDelay(10) }"
      >
        This is the Facebook page of the project. You can find more info and
        pictures of the project there.
      </app-useful-links>
    </div>
  </section>
</main>
