<main class="main-content">
  <!-- <div class="background"></div> -->
  <h1 class="sectiontitle">Research</h1>
  <h2 class="sectionsubtitle">Low-Impedance Human-Robot Interface</h2>
  <p class="project-description">
    This was my Masters Degree project. I designed and built a robotic arm on
    which I installed a custom-built 6 degrees-of-freedom displacement sensor.
    The user interacts directly with the robot by pushing the sensor around
    which in turns makes the robot move. This approach is similar to what we can
    find in most cobots but adds a layer of safety and makes the whole system
    more responsive.
  </p>
  <div class="useful-links">
    <app-useful-links></app-useful-links>
    <app-useful-links></app-useful-links>
  </div>
</main>
