a {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--bg-light);
  width: 22em;
  height: 25em;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0px 5px 15px 0px var(--bg-light);
  transition: transform 0.3s ease-out;
  margin-right: 2em;
  margin-bottom: 2em;
}

.card:hover {
  transform: scale(1.03);
}

.project-thumbnail {
  object-fit: cover;
  width: 100%;
  max-height: 40%;
  border-bottom: 3px solid var(--bg-dark);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0em 1em;
  color: var(--bg-dark);
}

h1 {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--text-dark);
  border-bottom: 2px solid var(--primary-purple);
  margin-bottom: 0.8em;
  width: fit-content;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0em 1em 1em;

  button {
    font-size: 1em;
    font-weight: 600;
    height: 2.3em;
    margin-right: 0.5em;
    padding: 0em 1em;
    color: var(--bg-light);
    background-color: var(--bg-dark-translucid);
    border: none;
    border-radius: 0.5em;
    transition: all 0.2s ease-out;
  }

  button:hover {
    background-color: var(--bg-dark);
  }
}

.tech-badges {
  display: flex;
  flex-direction: row;
  padding: 1em 1em 1em 0em;
}

@media (max-width: 900px) {
  .card {
    width: 90vw;
    height: 30em;
    margin-right: 0em;
  }
}

.tech-badge {
  height: 2em;
  margin: 0em 0.2em;
}
