// Desktop view

:host {
  width: 55%;
  min-height: 8rem;
  padding: 1em;
  background-color: var(--bg-light-translucid);
  backdrop-filter: blur(3px);
  border-radius: 1rem;
  transition: all 0.2s ease-out;
  border: 3px solid var(--primary-purple);
}

:host:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0px 1rem 10px 0px var(--primary-blue);
  background-color: var(--bg-light);
  .title {
    color: var(--bg-dark);
  }
  .content {
    color: var(--bg-dark);
  }
}

.title {
  color: var(--bg-dark);
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.2em;
  border-bottom: 3px solid var(--primary-purple);
  width: fit-content;
}

.content {
  color: var(--bg-dark);
  font-size: 1.2em;
  font-weight: 500;
}
