:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--bg-light-translucid);
  color: var(--text-dark);
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 1em;
  border: 3px solid var(--primary-purple);
  width: 60%;
  transition: all 0.4s ease-out;
}

:host:hover {
  background-color: var(--bg-light);
  border: 3px solid var(--primary-blue);
  .skills {
    background-color: var(--bg-dark);
  }
}

.work-title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.3em;
  border-bottom: 2px solid var(--primary-purple);
}

.content {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--primary-purple);
  margin-right: 0.5em;
  font-weight: 600;
}

h2 {
  text-decoration: underline;
  margin-bottom: 0.3em;
}

.skills {
  color: var(--bg-light);
  background-color: var(--bg-dark-translucid);
  padding: 1em;
  border-radius: 0.6em;
  align-self: flex-end;
  margin-top: 1em;
  transition: all 0.4s ease-out;
  ul {
    font-size: 0.8em;
    list-style-type: circle;
    list-style-position: inside;
  }
}
