:host {
  margin-right: 3em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 15em;
  height: 20em;
  background-color: var(--bg-light);
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0px 2px 15px 2px var(--bg-light-translucid);
  transition: all 0.4s ease-out;
}

.card:hover {
  transform: scale(1.06);
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.tech-logo {
  height: 6em;
}

.card-content {
  height: 10em;
  padding: 1em;
  background-color: var(--bg-dark);
  flex-grow: 1;
  color: var(--bg-light);
}

.name {
  height: 1.2em;
  border-bottom: 2px solid var(--primary-purple);
  margin-bottom: 0.4em;
}
