/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import "_variables.scss";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  line-height: 1;
  overflow-y: overlay;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-purple);
  transition: all 0.3s linear;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-blue);
}

// Shared Styles

.main-content {
  box-sizing: border-box;
  width: 100%;
  padding: 3em 14%;
  position: relative;
  background: linear-gradient(var(--bg-dark) 0%, var(--text-dark) 100%);
  // background-color: var(--bg-dark);
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sectiontitle {
  width: fit-content;
  font-size: 2.7em;
  font-weight: 800;
  color: var(--bg-light);
  // margin-top: 1em;
  margin-bottom: 0.7em;
  border-bottom: 5px solid var(--primary-purple);
  animation: titletop 1s ease-out;
  animation-fill-mode: both;
  align-self: flex-start;
}

.sectionsubtitle {
  width: fit-content;
  align-self: flex-start;
  color: var(--bg-light);
  font-size: 2em;
  font-weight: 600;
  border-bottom: 3px solid var(--primary-blue);
  margin-bottom: 0.4em;
  animation: subtitle-fade 2s ease-out;
  animation-fill-mode: both;
}

@media (max-width: 900px) {
  body {
    width: 100vw;
    font-size: 0.8rem;
  }
  .main-content {
    padding: 3em 1em;
  }
}

//about
.about-card {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 3rem;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

//project-portfolio style
.project-description {
  color: var(--bg-light);
  animation: subtitle-fade 2s ease-out;
  animation-fill-mode: both;
}

.tech-stack {
  margin-top: 1em;
}

.tech-used {
  font-size: 1.4em;
  color: var(--bg-light);
  margin-top: 0.6em;
  margin-bottom: 1em;
  border-bottom: 2px solid var(--primary-blue);
  animation: subtitle-fade 2s ease-out;
  animation-fill-mode: both;
}

.tech-cards {
  display: flex;
  flex-direction: row;
}

//projects
.project-cards-holder {
  display: flex;
  flex-direction: row;
}

//research
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 3em;
}

.research-images {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hr {
  width: 100%;
  margin-bottom: 2em;
}

.project-description {
  font-size: 1.2em;
  color: var(--bg-light);
  margin-top: 1em;
  margin-bottom: 1em;
  animation: subtitle-fade 1s ease-out;
  p {
    margin-bottom: 1em;
  }
}

.useful-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.useful-link {
  margin: 0em 1em 1em 0em;
}

.research-project-image {
  display: inline-block;
  object-fit: contain;
  height: 13em;
  border-radius: 1em;
  margin-right: 2em;
  transition: all 0.4s ease-out;
}

.research-project-image:hover {
  height: 26em;
}

@media (max-width: 900px) {
  .research-images {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .useful-links {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .useful-link {
    margin: 0em 0em 1em 0em;
  }

  .research-project-image {
    margin: 0em 0em 1em 0em;
    width: 80%;
    height: auto;
  }
}

//animations

.slide-from-right {
  animation: slide-from-right 1s ease-out;
  animation-fill-mode: both;
}

.slide-from-left {
  animation: slide-from-left 1s ease-out;
  animation-fill-mode: both;
}

@keyframes titletop {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@keyframes subtitle-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0vh);
  }
}
