/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import "_variables.scss";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-y: overlay;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-purple);
  transition: all 0.3s linear;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-blue);
}

// Shared Styles

.main-content {
  padding: 3em 14%;
  position: relative;
  background: linear-gradient(var(--bg-dark) 0%, var(--text-dark) 100%);
  // background-color: var(--bg-dark);
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sectiontitle {
  width: fit-content;
  font-size: 3.2em;
  font-weight: 800;
  color: var(--bg-light);
  // margin-top: 1em;
  margin-bottom: 0.7em;
  border-bottom: 5px solid var(--primary-purple);
  animation: titletop 1s ease-out;
  animation-fill-mode: both;
  align-self: flex-start;
}

@keyframes titletop {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0vh);
    opacity: 1;
  }
}

.sectionsubtitle {
  width: fit-content;
  align-self: flex-start;
  color: var(--bg-light);
  font-size: 2em;
  font-weight: 600;
  border-bottom: 3px solid var(--primary-blue);
  margin-bottom: 0.4em;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 0.8rem;
  }
}
